# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

# testing
/coverage

# next.js
/.next/
/out/
public/sitemap.xml
.vercel

# production
/build
*.xml

# rss feed
/public/feed.xml

# search
/public/search.json

# misc
.DS_Store

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Contentlayer
.contentlayer
node_modules/.yarn-state.yml
node_modules/@esbuild-plugins/node-resolve/CHANGELOG.md
node_modules/@esbuild-plugins/node-resolve/dist/index.d.ts
node_modules/@esbuild-plugins/node-resolve/dist/index.d.ts.map
node_modules/@esbuild-plugins/node-resolve/dist/index.js
node_modules/@esbuild-plugins/node-resolve/dist/index.js.map
node_modules/@esbuild-plugins/node-resolve/dist/index.test.d.ts
node_modules/@esbuild-plugins/node-resolve/dist/index.test.d.ts.map
node_modules/@esbuild-plugins/node-resolve/dist/index.test.js
node_modules/@esbuild-plugins/node-resolve/dist/index.test.js.map
node_modules/@esbuild-plugins/node-resolve/esm/index.d.ts
node_modules/@esbuild-plugins/node-resolve/esm/index.d.ts.map
node_modules/@esbuild-plugins/node-resolve/esm/index.js
node_modules/@esbuild-plugins/node-resolve/esm/index.js.map
node_modules/@esbuild-plugins/node-resolve/esm/index.test.d.ts
node_modules/@esbuild-plugins/node-resolve/esm/index.test.d.ts.map
node_modules/@esbuild-plugins/node-resolve/esm/index.test.js
node_modules/@esbuild-plugins/node-resolve/esm/index.test.js.map
node_modules/@esbuild-plugins/node-resolve/package.json
node_modules/@esbuild-plugins/node-resolve/src/index.test.ts
node_modules/@esbuild-plugins/node-resolve/src/index.ts
node_modules/@mdx-js/esbuild/index.d.ts
node_modules/@mdx-js/esbuild/index.js
node_modules/@mdx-js/esbuild/lib/index.d.ts
node_modules/@mdx-js/esbuild/lib/index.js
node_modules/@mdx-js/esbuild/license
node_modules/@mdx-js/esbuild/node_modules/node-fetch/@types/index.d.ts
node_modules/@mdx-js/esbuild/node_modules/node-fetch/LICENSE.md
node_modules/@mdx-js/esbuild/node_modules/node-fetch/package.json
node_modules/@mdx-js/esbuild/node_modules/node-fetch/README.md
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/body.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/errors/abort-error.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/errors/base.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/errors/fetch-error.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/headers.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/index.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/request.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/response.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/utils/get-search.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/utils/is-redirect.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/utils/is.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/utils/multipart-parser.js
node_modules/@mdx-js/esbuild/node_modules/node-fetch/src/utils/referrer.js
node_modules/@mdx-js/esbuild/package.json
node_modules/@mdx-js/esbuild/readme.md
node_modules/esbuild/bin/esbuild
node_modules/esbuild/lib/main.d.ts
node_modules/esbuild/lib/main.js
node_modules/esbuild/package.json
node_modules/mdx-bundler/client/index.d.ts
node_modules/mdx-bundler/client/index.js
node_modules/mdx-bundler/client/package.json
node_modules/mdx-bundler/dist/client.d.ts
node_modules/mdx-bundler/dist/client.js
node_modules/mdx-bundler/dist/dirname-messed-up.cjs
node_modules/mdx-bundler/dist/dirname-messed-up.cjs.d.ts
node_modules/mdx-bundler/dist/dirname-messed-up.d.cts
node_modules/mdx-bundler/dist/index.d.ts
node_modules/mdx-bundler/dist/index.js
node_modules/mdx-bundler/dist/package.json
node_modules/mdx-bundler/dist/types.d.ts
node_modules/mdx-bundler/LICENSE
node_modules/mdx-bundler/package.json
node_modules/mdx-bundler/README.md
